{% extends 'core/base.html' %}
{% block title %}about {% endblock %}

{% block content %}
<div class="about">
    <div class="abt-ctnr">
        <h1 class="abt-h1">About Me</h1>
        <p class="abt-p">
            I'm a passionate developer, and this multi-vendor e-commerce project has been instrumental in honing my skills.
            It's a testament to how a multi-vendor platform can empower individuals and businesses alike by providing a seamless online marketplace.
            This project is part of my portfolio from my time at Holberton School.
            You can find the source code on <a href="https://github.com/Nathaniel81/RedStore/" target="_blank">GitHub</a>.
        </p>
    </div>
</div>
{% endblock %}