<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}{% endblock %} | RedStore</title>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<a href="{% url 'core:home' %}">
						<img src="{% static 'images/logo3.png' %}" alt="" width="145px" style="margin-top: 6px;">
					</a>
				</div>
				<nav>
					<ul id="MenuItems">
  						<li><a href="{% url 'core:home' %}">Home</a></li>
						<li><a href="{% url 'core:products' %}">Items</a></li>
						{% if request.user.is_authenticated %}
						<li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
						<li><a href="{% url 'core:inbox' %}">Inbox</a></li>
						<li class="hidden-nav">
							<a href="{% url 'core:profile' request.user.id %}">
								Profile
							</a>
						</li>
						<li class="hidden-nav">
							<a href="{% url 'core:logout' %}">
								Logout
							</a>
						</li>
						<li class="user-dropdown">
							<div class="user-avatar">
								<img src="{{ request.user.avatar.url }}" alt="{% static 'images/avatar.svg' %}">
							</div>
							<div class="dropdown-content">
								<a href="{% url 'core:profile' request.user.id %}">Profile</a>
								<a href="{% url 'core:logout' %}">Logout</a>
							</div>
						</li>
						{% else %}
						<li><a href="{% url 'core:signup' %}">Join</a></li>
						<li><a href="{% url 'core:login' %}">Login</a></li>
						{% endif%}
						
					</ul>
				</nav>
				<!-- <img src="{% static 'images/cart.png' %}" width="30px" height="30px"> -->
				<img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
			</div>
			{% block lp %}
			{% endblock %}
		</div>
	</div>
	{% block content %}
	{% endblock %}
	<button id="scrollToTopBtn" title="Go to top">
		<img src="{% static 'images/up-arrow_red.png' %}" class="big-arrow">
		<img src="{% static 'images/up-arrow_16.png' %}" class="small-arrow">
	</button>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Download My App</h3>
					<p>Download App for Android or ios mobile phone.</p>
					<div class="app-logo">
						<!-- <img src="images/play-store.png" alt=""> -->
						<img src="{% static 'images/play-store.png' %}" alt="">
						<!-- <img src="images/app-store.png" alt=""> -->
						<img src="{% static 'images/app-store.png' %}" alt="">
					</div>
				</div>
				<div class="footer-col-2">
					<!-- <img src="images/logo-white.png" alt=""> -->
					<img src="{% static 'images/logo-white1.png' %}" alt="">
					<p>Empowering Connections, Fostering Opportunities. </p>
				</div>
				<div class="footer-col-3">
					<h3>Useful links</h3>
					<ul>
						<a href="{% url 'core:about' %}"><li>About Me</li></a>
						<a href=""><li>Blog Posts</li></a>
						<a href=""><li>Join Affiliate</li></a>
					</ul>
				</div>
				<div class="footer-col-4">
					<h3>Contacts</h3>
					<ul>
						<a href=""><li>Linkedin</li></a>
						<a href="https://github.com/Nathaniel81/RedStore/"><li>GitHub</li></a>
						<a href=""><li>Discord</li></a>
					</ul>
				</div>
			</div>
			<hr>
	
			<p class="copyright">
			  <span>
			    <?xml version="1.0" ?>
			    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				  <path d="M13.392 10.4362L14.8106 9.0176C14.1031 8.38476 13.169 8 12.145 8C9.93588 8 8.14502 9.79086 8.14502 12C8.14502 14.2091 9.93588 16 12.145 16C13.2563 16 14.2617 15.5468 14.9866 14.8152L13.674 13.5026L13.4646 13.503C13.1124 13.8124 12.6506 14 12.145 14C11.0405 14 10.145 13.1046 10.145 12C10.145 10.8954 11.0405 10 12.145 10C12.6166 10 13.0501 10.1632 13.392 10.4362Z" fill="currentColor"/><path clip-rule="evenodd" d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3ZM12 5C15.866 5 19 8.13401 19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5Z" fill="currentColor" fill-rule="evenodd"/>
			    </svg>
			  </span>
			  Copyright 2023
			</p>
		</div>
	</div>
		<script>
			var MenuItems = document.getElementById('MenuItems');
				MenuItems.style.maxHeight = "0px";
		
				function menutoggle() {
					if (MenuItems.style.maxHeight == "0px") {
						MenuItems.style.maxHeight = "200px";
					} else {
						MenuItems.style.maxHeight = "0px";
					}
				}
		</script>
	<script>
		var scrollToTopBtn = document.getElementById("scrollToTopBtn");
		window.onscroll = function () {
		    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		        scrollToTopBtn.style.display = "block";
		    } else {
		        scrollToTopBtn.style.display = "none";
		    }
		};

		scrollToTopBtn.addEventListener("click", function () {
		    window.scrollTo({
		        top: 0,
		        behavior: "smooth"
		    });
		});
	</script>
	</body>
</html>