{% extends 'core/base.html' %}
{% block title %}Item detail {% endblock %}

{% block content %}
<div class="small-container single-product" id="sp">
	<div class="row">
		<div class="col-2">
			<img src="{{ item.imageURL1 }}" alt="" id="product-img">
			<div class="space"></div>
			<div class="small-img-row">
				<div class="small-img-col">
					<img src="{{ item.imageURL1 }}" alt="" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="{{ item.imageURL2 }}" alt="" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="{{ item.imageURL3 }}" alt="" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="{{ item.imageURL4 }}" alt="" class="small-img">
				</div>
			</div>
		</div>
		<div class="col-2">
			<p>Home /{{ item.category.name }}/{{ item.name }}</p>
			<h1>{{ item.name }}</h1>
			<h4>Price: <span style="font-weight: lighter;">${{ item.price }}</span></h4>
			<h4>Seller: <a href="{% url 'profile' item.created_by.id %}" id="SellerLink">{{ item.created_by }}</a></h4>

			{% if request.user == item.created_by %}
				<h3>This is your item!</h3>
				<a href="{% url 'edit' item.id %}" class="btn" style="background: #38a169; transition: background 0.3s;" onmouseover="this.style.background='#563434';" onmouseout="this.style.background='#38a169';">
					Edit
				</a>  
				<a href="{% url 'delete' item.id %}" class="btn">Delete</a>
			{% else %}
				<a href="{% url 'new-convo' item.id %}" class="btn">Contact Seller</a>

			{% endif %}
			<br>
			{% if item.description %}
				<h4>Description:</h4>
					<p>{{ item.description }}</p>
			{% endif %}
		</div>
	</div>
</div>

<div class="small-container">
	<div class="row row-2">
		<h2>Related Products</h2>
			<p id="view-more">View More</p>
	</div>
</div>

<div class="small-container">
		<div class="row">
			{% for item in related_items %}
			<div class="col-4">
					<a href="{% url 'detail' item.id %}">
						<img src="{{ item.imageURL1 }}" alt="">
						<h4>{{ item.name }}</h4>
						<p>${{ item.price }}</p>
					</a>
			</div>
			{% endfor %}
		</div>
</div>
<div class="small-container" id="new-row">
	
</div>


<script>
	var productImg = document.getElementById("product-img");
	var smallImg = document.getElementsByClassName("small-img");
	
	for (let i = 0; i < smallImg.length; i++) {
		smallImg[i].onclick = function() {
			productImg.src = smallImg[i].src;
		}
	}
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const viewMoreParagraph = document.getElementById("view-more");
        const relatedItems = document.querySelector("#new-row");
	
        viewMoreParagraph.addEventListener("click", function () {
			if (viewMoreParagraph.textContent === "View More") {
				viewMoreParagraph.textContent = "View Less";
				relatedItems.innerHTML = 
					`<div class="row">
						{% for item in items %}
        					<div class="col-4">
        					    <a href="{% url 'detail' item.id %}">
        					        <div class="image-container">
        					            <img src="{{ item.imageURL1 }}" alt="">
        					        </div>
        					        <h4>{{ item.name }}</h4>
        					        <p>
										<span id='sp3'>
										"
										</span>
										$
										<span id='sp3'>
										"
										</span>
										{{ item.price }}
									</p>
        					    </a>
        					</div>
        				{% endfor %}
					</div>`;
			} else {
				viewMoreParagraph.textContent = "View More";
				relatedItems.innerHTML = ``;
			}
        });
    });
</script>

{% endblock %}
